<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/assets/css/register.css"/>
    <script src="/assets/js/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
</head>
<body>
    <form class="ar" action="/addUser" method="post">
        <input type="text" name="username">
        <input type="email" name="email">
        <input type="password" name="password">
        <input type="submit" value="Отправить">
    </form>
</body>
</html>